.navbar {
  background-color: #1d2a35;
  color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 20px;
}

.logo {
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  // font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}
