.App {
  font-family: sans-serif;
  text-align: center;
}
.footer {
  width: 100%;
  margin-top: 50px;
}

.footer-bottom {
  background-color: #1d2a35;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  line-height: 1.8;
}

.footer-bottom p {
  margin: 5px 0;
}
.transpotation {
  color: #1f3d6f;
}
.logo {
  width: 100px;
  height: 100px;
}
